
* {
  box-sizing: border-box;
}

/* Nav */
.navTop {
  display:none;
  background: rgba(0, 0, 0, .1);
  padding: 5%;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.nav__link {
  color: #fff;
  margin-left: .5em;
  text-decoration: none;
}

.page {
    /* height: 100%; */
    /* padding: calc(15% + 1.5em) 5% 5%; */
    /* overflow-y: auto; */
    /* position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0; */
    /* width: 100%; */
    -webkit-overflow-scrolling: touch;
    /* transition: transform 1s ease-in-out; */
    /* background:red; */
  }
  /* .page #navMenu,
  .page-enter #navMenu,
  .page-enter-active #navMenu,
  .page-exit #navMenu{position:fixed; top:55px; left:0;} */
  
  /* 새로운 부분 */
  .page-enter {
    transition: transform 800ms;
    transform: translate(100%, 0);
    
    /* position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh; */
  }
  .page-enter-active {
    transition: transform 800ms;
    transform: translate(0, 0);
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
  }

  /* 기존 */
  .page-exit {
    transition: transform 800ms;
    transform: translate(-100%, 0);
    z-index:-1;
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;

    /* position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh; */
  }

  
  
  
  
  
  .page--prev.page-enter {
    transition: transform 300ms;
    transform: translate(100%, 0);
  }
  
  .page--prev.page-enter-active {
    transition: transform 300ms;
    transform: translate(0, 0);
  }
  
  .page--prev.page-exit {
    transition: transform 300ms;
    transform: translate(100%, 0);
  }